<template>
    <div class="pagination">
        <button class="previous" :disabled="this.isPrevDisabled" @click='previousPage'> < Previous </button>
        <span class="table-page">{{tablePage}}</span>
        <button class="next" @click='nextPage' :disabled="this.isNextDisabled">Next > </button>
    </div>
</template>

<script>
    export default {
        name: "Pagination",
        props: {
            tablePage: Number,
            maxTablePage: Number
        },
        methods: {
            previousPage: function(){
                this.$emit('previous');
            },
            nextPage: function(){
                this.$emit('next');
            }
        },
        computed: {
            isPrevDisabled: function () {
                return this.tablePage === 1;
            },
            isNextDisabled: function () {
                return this.tablePage === this.maxTablePage;
            }
        }
    }
</script>

<style scoped>
    .pagination{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .previous{
        margin-left: 15px;
    }
    .next{
        float: right;
        margin-right: 15px;
    }
    .table-page{
        flex: 1;
        text-align: center;
    }
    button{
        width: 100px;
    }
</style>