<template>
    <div class="list-of-users">
        <h3 class="table-title">List of users</h3>
        <table class = "users">
            <tr>
                <th>First Name </th>
                <th class="clickable-cell" @click="sortLastName">Last Name {{directionIcon("lastName")}}</th>
                <th class="clickable-cell" @click="sortAge"> Age {{directionIcon("age")}}</th>
                <th class="clickable-cell" @click="sortGender"> Gender {{directionIcon("gender")}}</th>
                <th class="clickable-cell" @click="sortActive"> Active {{directionIcon("active")}}</th>
                <th>Email</th>
                <th>Avatar</th>
            </tr>
            <tr v-for="user in theData" :key="user.user.id" @click="onUserClick(user)" :class="currentUser === user ? 'current' : ''">
                <td> {{user.user.firstName}} </td>
                <td> {{user.user.lastName}} </td>
                <td> {{user.user.age}} </td>
                <td> {{user.user.gender}} </td>
                <td v-if="user.user.active"> <span class="online-dot"></span> </td>
                <td v-else="user.active"> <span class="offline-dot"></span> </td>
                <td> {{user.user.email}} </td>
                <td>
                    <div class="profile-pic">
                        <img :src=user.user.avatar>
                    </div>
                </td>
            </tr>
            <tr v-for="i in 10 - theData.length"><td colspan="7"></td></tr>
        </table>
    </div>
</template>

<script>

export default {
    props:{
        theData: Array,
        currentUser: Object,
        sort: Object
    },
    methods: {
        sortLastName : function () {
            this.$emit('sort', "lastName");
        },
        sortAge : function () {
            this.$emit('sort', "age");
        },
        sortGender : function () {
            this.$emit('sort', "gender");
        },
        sortActive : function () {
            this.$emit('sort', "active");
        },
        onUserClick : function (user) {
            this.$emit('onUserClick', user);
        },
        directionIcon: function (c) {
            if (c !== this.sort.sortBy) {
                return '';
            }
            if(this.sort.current === 1){
                return '↑';
            }else if(this.sort.current === 2){
                return '↓';
            }
            return '';
        }
    }
}
</script>

<style>
    .users{
        border: 3px solid black;
        height: 550px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        border-collapse: collapse;
    }
    .users th {
        border-bottom: 3px solid black;
    }
    .users th.clickable-cell {
        cursor: pointer;
    }
    .users tr {
        height: 51px;
    }
    .profile-pic{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
    }
    .profile-pic img{
        height: 45px;
        width: 45px;
    }
    .online-dot {
        height: 15px;
        width: 15px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }
    .offline-dot {
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
    }
    .table-title{
        text-align: center;
    }
    .current {
        background: lightblue;
    }
</style>