<template>
    <div class="user-details">
        <div class="table-title" v-if="user"><h3>User detail</h3></div>
        <table class="table-user" v-if="user">
            <tr>
                <td colspan="3">
                    <div class="profile-pic">
                        <img :src="user.user.avatar">
                    </div>
                </td>
            </tr>
            <tr>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Gender:</th>
            </tr>
            <tr>
                <td>{{user.user.firstName}}</td>
                <td>{{user.user.lastName}}</td>
                <td>{{user.user.gender}}</td>
            </tr>
            <tr>
                <th>Age:</th>
                <th>Status:</th>
                <th>Birth date:</th>
            </tr>
            <tr>
                <td>{{user.user.age}}</td>
                <td>{{user.user.status}}</td>
                <td>{{user.user.birthDate}}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <th>Phone:</th>
                <th>Email:</th>
            </tr>
            <tr>
                <td>{{user.user.address.country}}</td>
                <td>{{user.user.phone}}</td>
                <td>{{user.user.email}}</td>
            </tr>
            <tr>
                <td>{{user.user.address.city}}</td>
            </tr>
            <tr>
                <td>{{user.user.address.state}}</td>
            </tr>
            <tr>
                <td>{{user.user.address.streetAddress}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "UserDetails",
        props: ["user"]
    }
</script>

<style scoped>
    .table-user {
        border: 3px solid black;
        height: 450px;
        width: 100%;
        text-align: left;
    }
    .table-user tr {
        height: 20px;
    }
    .table-user td, th {
        padding-left: 20px;
    }
    .profile-pic{
        height: 150px;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-align: center;
    }
    .profile-pic img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
</style>