<template>
    <div id="app">
        <div class="users-wrapper">
            <div id="list-of-users">
                <TableOfUsers :the-data="sortUsersToRender" :currentUser="currentUser" :sort="sort"
                              @sort="setSort($event)" @onUserClick="showUserDetail($event)"/>
                <Pagination :maxTablePage="maxTablePage" :tablePage="tablePage" @previous="previousPage()"
                            @next="nextPage()" ref="block"/>
            </div>
            <div id="user-details">
                <UserDetails :user="currentUser"/>
            </div>
        </div>
    </div>
</template>

<script>
    import TableOfUsers from './components/TableOfUsers.vue'
    import Pagination from './components/Pagination.vue'
    import UserDetails from "./components/UserDetails";
    import {User} from "./Classes/User.js";

    export default {
        name: 'App',
        components: {
            UserDetails,
            Pagination,
            TableOfUsers
        },
        data: function () {
            return {
                users: [],
                currentPage: 1,
                tablePage: 1,
                renderPerPage: 10,
                maxTablePage: undefined,
                sortedUsersToRender: [],
                userSelected: false,
                currentUser: undefined,
                sort: {
                    directions: [0, -1, 1],
                    current: 0,
                    sortBy: undefined
                }
            }
        },
        methods: {
            showUserDetail: function (user) {
                this.currentUser = user !== this.currentUser ? user : undefined;
            },
            setSort: function (event) {
                if (event !== this.sort.sortBy) {
                    this.sort.sortBy = event;
                    this.sort.current = 1;
                } else {
                    this.sort.current = (this.sort.current + 1) % this.sort.directions.length;
                }
                this.tablePage = 1;
            },
            sendRequest: function () {
                var self = this;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        var newUsers = JSON.parse(this.responseText).results;
                        self.users.push(...newUsers.map(user => new User(user)));

                    }
                };
                xhttp.open("GET", "http://localhost:3000/api/users?page=" + this.currentPage, true);
                xhttp.send();
            },
            previousPage: function () {
                this.tablePage -= 1;
            },
            nextPage: function () {
                this.tablePage += 1;
                if (typeof (this.users[this.renderPerPage * this.tablePage - 1]) === 'undefined') {
                    this.currentPage += 1;
                    this.sendRequest();
                }
            },
            userCompare: function (user1, user2) {
                if (user2.user[this.sort.sortBy] > user1.user[this.sort.sortBy]) {
                    return this.sort.directions[this.sort.current];
                } else if (user2.user[this.sort.sortBy] < user1.user[this.sort.sortBy]) {
                    return -1 * this.sort.directions[this.sort.current];
                }
                return 0;
            }
        },
        computed: {
            sortedUsers: function () {
                if (this.sort.sortBy === undefined) {
                    return this.users;
                }
                var ascUsersToRender = this.users.slice();
                ascUsersToRender.sort(this.userCompare);
                return ascUsersToRender;
            },
            sortUsersToRender: function () {
                var renderPerPage = this.renderPerPage;
                var tablePage = this.tablePage;
                return this.sortedUsers.slice(renderPerPage * (tablePage - 1), renderPerPage * tablePage);
            }
        },
        mounted: function () {
            var self = this;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var newUsers = (JSON.parse(this.responseText).results);
                    self.users.push(...newUsers.map(user => new User(user)));
                    self.maxTablePage = Math.round((JSON.parse(this.responseText).meta.usersCount) / self.renderPerPage);
                }
            };
            xhttp.open("GET", "http://localhost:3000/api/users?page=1", true);
            xhttp.send();
        }
    }
</script>

<style>
    #app {
        font-family: Arial,serif;
    }
    .users-wrapper {
        display: flex;
    }
    #list-of-users {
        flex: 1;
    }
    #user-details {
        flex: 1;
        margin-left: 20px;
    }
</style>
